<template>
  <section id="what-we-do" class="hero" :class="currentBg">
    <div class="hero-body">
      <div class="container">

      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'Blank',
    props: {
      scroll: Object
    },
    mounted () {
      window.addEventListener('resize', this.checkNum)
      window.addEventListener('scroll', this.checkNum)
    },
    data () {
      return {
        currentBg: ''
      }
    },
    methods: {
      checkNum () {
        let sectionHeight = this.scroll.height
        let currentScroll = this.scroll.position

        if (currentScroll > sectionHeight[8] - sectionHeight[1] / 4 && currentScroll < sectionHeight[10] + sectionHeight[1] / 2) {
          this.currentBg = 'currentBg'
        } else {
          this.currentBg = null
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  @media only screen and (max-height: 400px) {
    .right {
      margin: 5% 0;
    }
  }

  section {
    position: relative;
    height: 50vh !important;
    background-color: #f9f2f2;
    transition: all 0.3s;
  }

  .container {
    height: inherit;
  }

  .currentBg {
    background-color: #2b2b2b;

    * {
      visibility: hidden;
    }
  }
</style>
