<template>
  <section id="contact" class="hero is-fullheight currentBg">
    <div class="hero-body">
      <div class="container">

          <div class="slide-text">
            <img class="brand" :src="require(`@/assets/icons/brand-two.png`)" alt="Image of brand logo" v-if="endingLogo">

            <transition enter-active-class="animated fadeInLeft" leave-active-class="animated fadeOut">
            <div v-if="current">
              <h1 class="title">See You.</h1>
              <h1 class="text">Join our growing family. FREE Loved Furniture.</h1>

              <br/>

              <a target="_blank" href="https://www.facebook.com/groups/freevo/" class="link is-uppercase ">
                CHECK US OUT</a>
            </div>
            </transition>
          </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'Contact',
    data () {
      return {
        current: false,
        endingLogo: false
      }
    },
    mounted () {
      window.addEventListener('resize', this.checkNum)
      window.addEventListener('scroll', this.checkNum)
    },
    props: {
      scroll: Object
    },
    methods: {
      checkNum () {
        let sectionHeight = this.scroll.height
        let currentScroll = this.scroll.position

        if (currentScroll > sectionHeight[11]) {
          this.endingLogo = true
        } else {
          this.endingLogo = false
        }

        if (currentScroll > sectionHeight[11] + sectionHeight[1] / 2 && currentScroll < sectionHeight[12]) {
          this.current = true
        } else {
          this.current = false
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  @media only screen and (max-width: 570px) {
    .brand {
      width: 20% !important;
    }
  }

  section {
    position: relative;
    background-color: #2b2b2b;
    transition: 0.3s linear;
  }

  .currentBg {
    background-color: #FEA62F;
  }

  .acknowledgement {
    position: fixed;
    bottom: 2%;
    right: 1%;
    font-size: small;
  }

  .container {
    height: 100%;

    .slide-text {
      position: fixed;
      z-index: 5;
      left: 5%;
      top: 10%;
      color: whitesmoke;
      margin: auto 0;

      .brand {
        width: 7.5%;
        animation: appear 2s linear;
        margin-bottom: 10%;
      }
      .title {
        color: whitesmoke;
        font-size: 6.4em;
        line-height: 120%;
      }
      .text {
        color: #2b2b2b;
        font-size: 1.4em;
        animation: appear 2s linear;
      }
      .link {
        font-size: 1em;
        padding-bottom: 1%;
        border-bottom: 1px solid whitesmoke;
        animation: appear 2s linear;
        color: #fff;
        transition: all 0.5s;

        &:hover {
          color: #8dacff;
          border-bottom: 1px solid #8dacff;
        }
      }
    }
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
