<template>
  <section id="customers" class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <transition enter-active-class="animated fadeInLeft" leave-active-class="animated fadeOut">
            <div class="column has-text-centered" v-show="show">
              <img :src="require(`@/assets/images/${ image }`)" alt="">
            </div>
          </transition>

          <div class="column odo">
            <div>
              <h4 class="one">{{ textOne }}</h4>
              <transition enter-active-class="animated fadeIn">
                <div v-show="show">
                  <vue-odometer class="vue-odometer" :value="num"/>
                </div>
              </transition>
              <h1 class="two is-uppercase">{{ textTwo }}</h1>
              <h4 class="three">{{ textThree }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'Customer',
    props: {
      scroll: Object
    },
    data () {
      return {
        textOne: 'We\'ve helped',
        num: 900,
        textTwo: 'HAPPY FAMILIES',
        textThree: 'to furnish their homes',
        image: 'happy-customers.png',
        show: false
      }
    },
    mounted () {
      window.addEventListener('resize', this.checkNum)
      window.addEventListener('scroll', this.checkNum)
    },
    methods: {
      checkNum () {
        if (this.scroll.position > this.scroll.height[2] - this.scroll.height[1] && this.scroll.position < this.scroll.height[3]) {
          this.num = 1262
          this.show = true
        } else {
          this.num = 900
          this.show = false
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  $bold: 'hurme geometric sans bold', sans-serif;

  @media only screen and (max-width: 770px) {
    .odo {
      margin-top: 5%;
    }
  }

  @media only screen and (min-width: 1900px) {
    h1 {
      font-size: 2.3em !important;
    }

    .two {
      font-size: 2.5em !important;
    }

    .vue-odometer {
      font-size: 8em !important;
    }
  }

  section {
    position: relative;
    background-color: #CCE9F2;
  }

  .container {
    height: inherit;
  }

  .odo {
    height: 50vh;

    h1 {
      font-size: 2.5em;
      line-height: 110%;
    }

    h4 {
      font-size: 2em;
      line-height: 110%;
    }

    .vue-odometer {
      font-family: $bold;
      font-size: 9em;
      color: #6188ea;
      margin: 2vh 0 2vh -1.5vh;
    }

    .two {
      font-size: 2.8em;
    }
  }
</style>
