<template>
  <div id="freevonation-full" class="column" @scroll="handleScroll">
    <introduction :scroll="scroll"/>
    <information :scroll="scroll"/>
    <customer :scroll="scroll"/>
    <member :scroll="scroll"/>
    <how :scroll="scroll"/>
    <testimonial/>
    <people :scroll="scroll"/>
    <mission :scroll="scroll"/>
    <blank :scroll="scroll"/>
    <slideOne :scroll="scroll"/>
    <slideTwo :scroll="scroll"/>
    <slideThree :scroll="scroll"/>
    <contact :scroll="scroll"/>
    <!--<subscribe/>-->
  </div>
</template>

<script>
  import Introduction from '@/components/Introduction'
  import How from '@/components/How'
  import Information from '@/components/Information'
  import Customer from '@/components/Customer'
  import Member from '@/components/Member'
  import Mission from '@/components/Mission'
  import Testimonial from '@/components/Testimonial'
  import People from '@/components/People'
  import Contact from '@/components/Contact'
  import Blank from '@/components/Blank'
  import SlideOne from '@/components/SlideOne'
  import SlideTwo from '@/components/SlideTwo'
  import SlideThree from '@/components/SlideThree'
  import Subscribe from '@/components/Subscribe'

  export default {
    name: 'Freevonation',
    components: {
      Introduction,
      How,
      Information,
      Customer,
      Member,
      Mission,
      Testimonial,
      People,
      Contact,
      Blank,
      SlideOne,
      SlideTwo,
      SlideThree,
      Subscribe
    },
    data () {
      return {
        scroll: {
          position: 0,
          height: []
        }
      }
    },
    mounted () {
      this.handleScroll()

      window.addEventListener('resize', this.handleScroll)
      window.addEventListener('scroll', this.handleScroll)
    },
    methods: {
      handleScroll () {
        const current = this.$el.querySelectorAll('section')
        let currentSectionArray = []

        current.forEach(section => currentSectionArray.push(section.offsetTop))

        this.scroll.height = currentSectionArray
        this.scroll.position = window.scrollY
      }
    }
  }
</script>

<style lang="scss" scoped>
  #freevonation-full {
    padding: 0;
  }
</style>
