<template>
  <section id="how" class="hero is-fullheight">
    <div class="hero-body">
      <div class="container page-two-how-to has-text-centered">
        <div class="title">
          <h1>HERE’S HOW IT WORKS</h1>
        </div>

        <div class="columns">
          <div :id="detail.name" class="column" v-for="detail in details">
            <img :src="require(`@/assets/images/${ detail.image }`)" alt="">
            <h1 class="name is-uppercase">{{ detail.name }}</h1>
            <h4>{{ detail.message }}</h4>
            <h4 v-if="detail.span"><a :href="detail.link">{{ detail.span }}</a></h4>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'How',
    props: {
      scroll: Object
    },
    data () {
      return {
        title: 'How it works?',
        details: [
          {
            name: 'join',
            message: 'Click to Join Our Facebook Group.',
            span: '- FREE Loved Furniture',
            link: 'https://www.facebook.com/groups/freevo/',
            image: 'join.png'
          },
          {
            name: 'pick',
            message: 'Post your items to give away or request for items in the group.',
            image: 'pick.png'
          },
          {
            name: 'chat',
            message: 'Message other members directly or simply ask our CHAT BOT to help you give and request for items.',
            image: 'chat.png'
          }
        ]
      }
    }
  }
</script>

<style lang="scss" scoped>
  @media only screen and (max-width: 770px) {
    .column {

      .title {
        font-size: 2em !important;
      }

      .name {
        font-size: 4.5em !important;
      }
      h4 {
        font-size: 2.5em !important;
      }
    }
  }

  section {
    position: relative;
    background-color: #CCE9F2;
  }

  .column {
    padding: 0;
    h1 {
      font-size: 1.8em;
    }
    h4 {
      padding: 0 10%;
      font-size: 0.8em;
      a {
        color: #F85D62;
        border-bottom: 1px solid #F85D62;
      }
    }
  }

  #join, #chat {
    img {
      animation: 2s bounceUp infinite;
    }
  }

  #pick, #accept {
    img {
      animation: 2s bounceDown infinite;
    }
  }

  @keyframes bounceUp {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(1vh);
    }
    50% {
      transform: translateY(-1vh);
    }
    75% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes bounceDown {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-1vh);
    }
    50% {
      transform: translateY(1vh);
    }
    75% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }
</style>
