<template>
  <section id="information" class="hero is-fullheight">
    <div class="hero-body">
      <div class="container page-three-information">
        <div class="columns is-vcentered">
          <div class="column odo">
            <div>
              <h4 class="one">{{ textOne }}</h4>

              <transition enter-active-class="animated fadeIn">
                <div v-show="show">
                  <span class="in-line">
                     <vue-odometer class="vue-odometer" :value="num"/>  <h1 class="plus">+</h1>
                  </span>
                </div>
              </transition>
              <h1 class="two">{{ textTwo }}</h1>
              <h4 class="three">{{ textThree }}</h4>
            </div>
          </div>

          <transition enter-active-class="animated fadeInRight" leave-active-class="animated fadeOut">
            <div class="column" v-show="show">
              <img :src="require(`@/assets/images/${ image }`)" alt="">
            </div>
          </transition>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'Information',
    props: {
      scroll: Object
    },
    data () {
      return {
        textOne: 'To date, we have given away...',
        textTwo: 'FURNITURE PIECES',
        textThree: 'Since we started in 2016',
        num: 4500,
        show: false,
        image: 'given-away.png'
      }
    },
    mounted () {
      window.addEventListener('resize', this.checkNum)
      window.addEventListener('scroll', this.checkNum)
    },
    methods: {
      checkNum () {
        if (this.scroll.position > this.scroll.height[1] - this.scroll.height[1] / 1.1 && this.scroll.position < this.scroll.height[3]) {
          this.num = 4500
          this.show = true
        } else {
          this.num = 4000
          this.show = false
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  $bold: 'hurme geometric sans bold', sans-serif;

  @media only screen and (max-width: 770px) {
    .odo {
      margin-top: 10%;
    }
  }

  @media only screen and (min-width: 1900px) {
    h1 {
      font-size: 2.3em !important;
    }

    .two {
      font-size: 2.5em !important;
    }

    .vue-odometer {
      font-size: 8em !important;
    }
  }

  section {
    position: relative;
    background-color: #f9f2f2;
  }

  .container {
    height: inherit;
  }

  .odo {
    height: 50vh;

    .in-line {
      display: flex;
    }

    h1 {
      font-size: 2.5em;
      line-height: 110%;
    }

    h4 {
      font-size: 2em;
      line-height: 110%;
    }

    .vue-odometer {
      font-family: $bold;
      font-size: 8em;
      color: #6188ea;
      margin: 2vh 0 2vh -1.5vh;
    }

    .two {
      font-size: 2.8em;
    }

    .plus {
      font-family: $bold;
      font-size: 8em;
      color: #6188ea;
    }
  }
</style>
