<template>
  <section id="introduction" class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns" v-if="show">
          <div class="intro column">

            <img :src="require(`@/assets/icons/brand.png`)" alt="">

            <div class="intro-title has-text-left">
              <div class="orange">
                <h1>
                  <span class="space">{{ brandOne }}</span>
                  <span>{{ brandTwo }}</span>
                </h1>
              </div>
            </div>

            <div class="intro-slogan is-capitalized">
              <h1>{{ slogan }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'Introduction',
    props: {
      scroll: Object
    },
    data () {
      return {
        welcome: 'Welcome to',
        brandOne: 'Freevo',
        brandTwo: 'Nation',
        slogan: 'Singapore\'s Furniture Sharing Community',
        show: true
      }
    },
    mounted () {
      window.addEventListener('resize', this.checkNum)
      window.addEventListener('scroll', this.checkNum)
    },
    methods: {
      checkNum () {
        if (this.scroll.position > this.scroll.height[3]) {
          this.show = false
        } else {
          this.show = true
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  @media only screen and (max-width: 770px) {
    .intro {
      img {
        width: 10vh !important;
      }

      .intro-title {
        font-size: 5.5em !important;
      }

      .intro-slogan {
        font-size: 1.7em;
      }
    }
  }

  section {
    height: 85vh;
    background-color: #fff;
  }

  .container {
    height: inherit;
  }

  .intro {
    position: fixed;

    img {
      width: 5%;
      margin-bottom: 25vh;
    }

    .intro-title {
      line-height: 100%;
      font-size: 4.5em;

      .orange {
        span {
          background-color: #FEA62F;
        }
        .space {
          padding-right: 1%;
        }
      }
    }

    .intro-slogan {
      margin-top: 2.5%;
      font-size: 2em;
    }
  }
</style>
