<template>
  <section id="members" class="hero is-fullheight">
    <div class="hero-body">
      <div class="container page-five-members">
        <div class="members columns is-vcentered">
          <div class="column odo">
            <div>
              <h4 class="one">{{ textOne }}</h4>
              <transition enter-active-class="animated fadeIn">
                <div v-show="show">
                  <vue-odometer class="vue-odometer" :value="num"/>
                </div>
              </transition>

              <h1 class="two is-uppercase">{{ textTwo }}</h1>
              <h4 class="three">{{ textThree }}</h4>
            </div>
          </div>

          <transition enter-active-class="animated fadeInUp" leave-active-class="animated fadeOut">
            <div class="column" v-show="show">
              <img :src="require(`@/assets/images/${ image }`)" alt="">
            </div>
          </transition>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'Member',
    props: {
      scroll: Object
    },
    data () {
      return {
        textOne: 'And we have grown to',
        num: 11000,
        textTwo: 'ACTIVE MEMBERS',
        textThree: 'through our Facebook Group',
        image: 'active-members.png',
        show: false
      }
    },
    mounted () {
      window.addEventListener('resize', this.checkNum)
      window.addEventListener('scroll', this.checkNum)
    },
    methods: {
      checkNum () {
        if (this.scroll.position > this.scroll.height[3] - this.scroll.height[1] && this.scroll.position < this.scroll.height[4]) {
          this.num = 12030
          this.show = true
        } else {
          this.num = 11000
          this.show = false
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  $bold: 'hurme geometric sans bold', sans-serif;

  @media only screen and (max-width: 770px) {
    .odo {
      margin-top: 10%;
    }
  }

  @media only screen and (min-width: 1900px) {
    h1 {
      font-size: 2.3em !important;
    }

    .two {
      font-size: 2.5em !important;
    }

    .vue-odometer {
      font-size: 7em !important;
    }
  }

  section {
    position: relative;
    background-color: #f9f2f2;
  }

  .odo {
    height: 50vh;
  }

  .members {

    h1 {
      font-size: 2.5em;
      line-height: 110%;
    }

    h4 {
      font-size: 2em;
      line-height: 110%;
    }

    .two {
      font-size: 2.8em;
    }

    .vue-odometer {
      font-family: $bold;
      font-size: 9em;
      color: #6188ea;
      margin: 1vh 0 1vh -1.5vh;
    }
  }
</style>
