<template>
  <section id="mission" class="hero is-fullheight" :class="currentBg">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">

          <transition enter-active-class="animated fadeInLeft" leave-active-class="animated fadeOut">
            <div class="column" v-show="show">
              <img :src="require(`@/assets/images/${ image }`)" alt="">
            </div>
          </transition>

          <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
            <div class="column right" v-show="show">
              <div>
                <h1 class="one is-uppercase">{{ textOne }}</h1>
                <h4 class="two">{{ textTwo }}</h4>
                <h4 class="three">{{ textThree }}</h4>
              </div>
            </div>
          </transition>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'Mission',
    props: {
      scroll: Object
    },
    mounted () {
      window.addEventListener('resize', this.checkNum)
      window.addEventListener('scroll', this.checkNum)
    },
    data () {
      return {
        currentBg: '',
        textOne: '  WE ARE ON A MISSION',
        textTwo: ' To save a chair, or any furniture and appliances that is in good condition,',
        textThree: '  by giving it to others who might need it.',
        image: 'accept.png',
        show: false
      }
    },
    methods: {
      checkNum () {
        let sectionHeight = this.scroll.height
        let currentScroll = this.scroll.position

        if (currentScroll > sectionHeight[8] - sectionHeight[1] / 4 && currentScroll < sectionHeight[10] + sectionHeight[1] / 2) {
          this.currentBg = 'currentBg'
        } else {
          this.currentBg = null
        }

        this.show = currentScroll > sectionHeight[7] - sectionHeight[1] / 2 && currentScroll < sectionHeight[9]
      }
    }
  }
</script>

<style lang="scss" scoped>
  @media only screen and (max-width: 770px) {
    h1 {
      font-size: 3em !important;
    }
    h4 {
      font-size: 2.5em !important;
    }
  }

  section {
    position: relative;
    background-color: #f9f2f2;
    transition: all 0.3s;
  }

  .container {
    height: inherit;
  }

  .column {

    .right {
      margin-top: 10%;
      height: 40vh;

      h1 {
        font-size: 2.5em;
        line-height: 110%;
        margin-bottom: 5%;
      }

      h4 {
        font-size: 1.5em;
        line-height: 110%;
      }
    }
  }

  .currentBg {
    background-color: #2b2b2b;

    * {
      visibility: hidden;
    }
  }
</style>
