<template>
  <section id="people" class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">

        <div class="columns is-vcentered is-multiline is-mobile">
          <div class="column is-12" v-for="(person, index) in shuffled">
            <transition enter-active-class="animated fadeInLeft" leave-active-class="animated fadeOut">
              <div :id="`card-${index + 1}`" class="card" v-show="show">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image">
                        <img :src="require(`@/assets/profile-images/${person.avatar}`)"
                             :alt="`Avatar of ${person.name}`"/></figure>
                    </div>

                    <div class="media-content">
                      <h1 class="title">{{ person.name }}</h1>
                    </div>
                  </div>

                  <div class="content">{{ person.description }}</div>
                </div>
              </div>
            </transition>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
  export default {
    name: 'People',
    props: {
      scroll: Object
    },
    mounted () {
      window.addEventListener('resize', this.checkNum)
      window.addEventListener('scroll', this.checkNum)
    },
    data () {
      return {
        shuffling: [],
        currentBg: '',
        show: false,
        people: [
          {
            name: 'Eva',
            avatar: 'profile-girl.jpg',
            description: 'The planning is great. Thanks a lot. It\'s great to see my pre-loved stuff having a second lease of life.'
          },
          {
            name: 'Fred',
            avatar: 'profile-boy.jpg',
            description: 'It would be a pity for me to throw everything away. Thanks a lot to the rest of the team!'
          },
          {
            name: 'Madalina',
            avatar: 'profile-girl.jpg',
            description: 'Glad it worked out and they found a new home :) No worries about the chairs, will take this opportunity to redecorate.'
          },
          {
            name: 'Shang',
            avatar: 'profile-girl-two.jpg',
            description: 'Is not easy to coordinate all these from a giver to receiver etc... the world become beautiful because we have people like you and your team.'
          }
        ]
      }
    },
    computed: {
      shuffled () {
        return this.people.sort(() => Math.random() - 0.5)
      }
    },
    methods: {
      checkNum () {
        let sectionHeight = this.scroll.height
        let currentScroll = this.scroll.position

        this.show = currentScroll > sectionHeight[6] - sectionHeight[1] && currentScroll < sectionHeight[8]
      }
    }
  }
</script>
<style lang="scss" scoped>
  $black: #263238;
  @media only screen and (max-width: 500px) {
    .card {

      .image {

        img {
          width: 10vw !important;
          height: 10vw !important;
        }
      }

      .title {
        font-size: 3em !important;
      }

      .content {
        font-size: 1.8em !important;
      }
    }
  }

  section {
    position: relative;
    background-color: #CCE9F2;
    transition: all 0.3s;
  }

  .container {
    height: inherit;
  }

  @for $i from 1 through 4 {
    #card-#{$i} {
      animation-delay: calc(#{$i}s - 0.9s + 0.1s);
    }
  }

  .card {
    border-radius: 50px;
    background-color: inherit;
    box-shadow: none;

    .image {
      position: relative;

      img {
        border: 1px solid black;
        width: 4.5vw;
        height: 4.5vw;
        border-radius: 100%;
      }
    }

    .media-content {
      height: 100%;
      padding-top: 1%;
    }
  }
</style>
