<template>
  <section id="SlideOne" class="hero" :class="currentBg">
    <div class="container">
      <transition enter-active-class="animated fadeInLeft" leave-active-class="animated fadeOut">
        <div class="slide-text is-light" v-if="current">
          <h1>Our intention has always been focused on </h1>
          <h1>recycling through the act of giving.</h1>
        </div>
      </transition>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'SlideOne',
    data () {
      return {
        current: false,
        currentBg: ''
      }
    },
    mounted () {
      window.addEventListener('resize', this.checkNum)
      window.addEventListener('scroll', this.checkNum)
    },
    props: {
      scroll: Object
    },
    methods: {
      checkNum () {
        let sectionHeight = this.scroll.height
        let currentScroll = this.scroll.position

        this.current = currentScroll > sectionHeight[8] - sectionHeight[1] / 4 && currentScroll < sectionHeight[9]

        if (currentScroll > sectionHeight[8] - sectionHeight[1] / 4 && currentScroll < sectionHeight[11] + sectionHeight[1] / 2) {
          this.currentBg = 'currentBg'
        } else {
          this.currentBg = null
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  @media only screen and (max-width: 770px) {
    h1 {
      font-size: 2.1em !important;
    }
  }

  section {
    position: relative;
    height: 200vh;
    background-color: #F9F2F2;
    transition: all 0.3s;
  }

  .currentBg {
    background-color: #2b2b2b;
  }

  .container {
    height: 100%;

    .slide-text {
      position: fixed;
      z-index: 5;
      left: 5%;
      top: 40%;
      margin: auto 0;
    }

    h1 {
      font-size: 3em;
      color: whitesmoke;
    }
  }
</style>
