<template>
  <section id="SlideThree" class="hero" :class="currentBg">
    <div class="container">
      <transition enter-active-class="animated fadeInLeft" leave-active-class="animated fadeOut">
        <div class="slide-text" v-if="current">
          <h1>Chat with us now or join our group</h1>
          <h1>to meet other people just like you!</h1>
        </div>
      </transition>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'SlideThree',
    data () {
      return {
        current: false,
        currentBg: ''
      }
    },
    mounted () {
      window.addEventListener('resize', this.checkNum)
      window.addEventListener('scroll', this.checkNum)
    },
    props: { scroll: Object },
    methods: {
      checkNum () {
        let sectionHeight = this.scroll.height
        let currentScroll = this.scroll.position

        if (currentScroll > sectionHeight[8] + sectionHeight[1] && currentScroll < sectionHeight[11] + sectionHeight[1] / 2) {
          this.currentBg = null
        } else {
          this.currentBg = 'currentBg'
        }

        this.current = currentScroll > sectionHeight[10] + sectionHeight[1] && currentScroll < sectionHeight[11]
      }
    }
  }
</script>

<style lang="scss" scoped>
  @media only screen and (max-width: 770px) {
    h1 {
      font-size: 2.1em !important;
    }
  }

  section {
    position: relative;
    height: 150vh;
    transition: 0.3s linear;
    background-color: #2b2b2b;
  }

  .currentBg {
    background-color: #FEA62F;
  }

  .container {
    height: 100%;

    .slide-text {
      position: fixed;
      z-index: 5;
      left: 5%;
      top: 40%;
      margin: auto 0;
    }

    h1 {
      font-size: 3em;
      color: whitesmoke;
    }
  }
</style>
