<template>
  <section id="SlideTwo" class="hero">
    <div class="container">
      <transition enter-active-class="animated fadeInLeft" leave-active-class="animated fadeOut">
        <div class="slide-text is-light" v-if="current">
          <h1>If it feels right to give your preloved furniture</h1>
          <h1> to others than to throw them away,</h1>
          <h1>then we are here to help you.</h1>
        </div>
      </transition>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'SlideTwo',
    data () {
      return {
        current: false
      }
    },
    mounted () {
      window.addEventListener('resize', this.checkNum)
      window.addEventListener('scroll', this.checkNum)
    },
    props: { scroll: Object },
    methods: {
      checkNum () {
        let sectionHeight = this.scroll.height
        let currentScroll = this.scroll.position

        this.current = currentScroll > sectionHeight[9] + sectionHeight[1] && currentScroll < sectionHeight[10]
      }
    }
  }
</script>

<style lang="scss" scoped>
  @media only screen and (max-width: 770px) {
    h1 {
      font-size: 2.1em !important;
    }
  }

  section {
    position: relative;
    height: 150vh;
    background-color: #2b2b2b;
  }

  .container {
    height: 100%;

    .slide-text {
      position: fixed;
      z-index: 5;
      left: 5%;
      top: 35%;
    }

    h1 {
      font-size: 3em;
      color: whitesmoke;
    }
  }
</style>
