<template>
  <section class="section">
    <div class="container">
      <div class="column is-half is-offset-one-quarter">
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">

        <div id="mc_embed_signup">
          <form
            action="https://sproud.us18.list-manage.com/subscribe/post?u=887d3e05d7e0bf2a67fbcc0a2&amp;id=2ca3e818ee"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
            target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <h2>Subscribe to our mailing list</h2>
              <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
              <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
              </div>
              <div class="mc-field-group">
                <label for="mce-FNAME">First Name </label>
                <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
              </div>
              <div class="mc-field-group">
                <label for="mce-LNAME">Last Name </label>
                <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                        name="b_887d3e05d7e0bf2a67fbcc0a2_2ca3e818ee"
                                                                                        tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                        class="button"></div>
            </div>
          </form>
        </div>

        <!--End mc_embed_signup-->

        <!--<div class="field is-grouped">-->
        <!--<div class="control is-expanded">-->
        <!--<input type="email" id="email" class="input" placeholder="Enter your email address" v-model="email"-->
        <!--@keyup.enter="onSubmit"/>-->
        <!--</div>-->

        <!--<div class="control">-->
        <!--<button class="button is-dark" @click="onSubmit">Submit</button>-->
        <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </section>
</template>

<script>
  import axios from 'axios'
  import { MAILCHIMP } from '@/config.js'

  export default {
    name: 'Subscribe',
    data () {
      return {
        email: null
      }
    },
    mounted () {
      this.init()
    },
    methods: {
      init () {
        (function ($) {
          window.fnames = new Array()
          window.ftypes = new Array()
          fnames[0] = 'EMAIL'
          ftypes[0] = 'email'
          fnames[1] = 'FNAME'
          ftypes[1] = 'text'
          fnames[2] = 'LNAME'
          ftypes[2] = 'text'
          fnames[3] = 'ADDRESS'
          ftypes[3] = 'address'
          fnames[4] = 'PHONE'
          ftypes[4] = 'phone'
        }(jQuery))
        var $mcj = jQuery.noConflict(true)
      },
      onSubmit () {
        const endpoint = `//us${MAILCHIMP.REGION}.api.mailchimp.com/3.0/lists/${MAILCHIMP.LIST}/members`

        const data = {
          email_address: 'shuiloong@sproud.biz',
          status: 'subscribed'
        }

        axios.get(endpoint).then(response => console.log(response)).catch(error => console.error(error))
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>
