<template>
  <section id="testimonial" class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column">
            <h4>We’re having a lot of fun but it’s better to</h4>
            <h1>HEAR IT FROM OUR MEMBERS:</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'Testimonial'
  }
</script>

<style lang="scss" scoped>
  section {
    position: relative;
    background-color: #f9f2f2;
  }

  h1 {
    font-size: 3em;
    line-height: 120%;
  }

  h4 {
    font-size: 2.7em;
    line-height: 120%;
    margin-bottom: 5%;
  }

  .container {
    height: inherit;
  }
</style>
