<template>
  <div id="app">
    <transition enter-active-class="animated fadeIn">
      <router-view/>
    </transition>
  </div>
</template>

<script>
  export default {
    name: 'App'
  }
</script>

<style lang="scss">
  @import "./sass/app.scss";

  @font-face {
    font-family: 'hurme geometric sans bold';
    src: url("./assets/fonts/hurme/hurme-geometric-sans-bold.otf") format('opentype');
  }

  @font-face {
    font-family: 'hurme geometric sans light';
    src: url("./assets/fonts/hurme/hurme-geometric-sans-light.otf") format('opentype');
  }

  @font-face {
    font-family: 'worksans bold';
    src: url("./assets/fonts/work/worksans-bold.ttf") format('truetype');
  }

  @font-face {
    font-family: 'worksans regular';
    src: url("./assets/fonts/work/worksans-regular.ttf") format('truetype');
  }

  @font-face {
    font-family: 'playfair italic';
    src: url("./assets/fonts/playfair-display/playfairdisplay-italic.ttf") format('truetype');
  }

  $bold: 'hurme geometric sans bold', sans-serif;
  $regular: 'hurme geometric sans light', sans-serif;
  $italic: 'playfair italic', serif;
  $work-bold: 'worksans bold', sans-serif;
  $work-regular: 'worksans regular', sans-serif;

  html {
    font-size: calc(1vw + 4.5px);
  }

  h1, h2, a {
    font-family: $work-bold;
    color: #2b2b2b;
  }

  h3 {
    font-family: $italic;
    color: #2b2b2b;
  }

  h4, h5, p {
    font-family: $work-regular;
    color: #2b2b2b;
  }

  .is-light {
    color: #fff;
  }

  /*#app {*/
  /*position: absolute;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*overflow: auto;*/
  /*overflow-x: hidden;*/
  /*scroll-snap-points-y: repeat(100vh);*/
  /*scroll-snap-type: mandatory;*/
  /*scroll-snap-destination: 100vh 0vh;*/
  /*}*/
</style>
